@model Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Редагувати</h1>

<h4>Книга</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="author" class="control-label"></label>
                <input asp-for="author" class="form-control" />
                <span asp-validation-for="author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genre" class="control-label"></label>
                <input asp-for="genre" class="form-control" />
                <span asp-validation-for="genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="year" class="control-label"></label>
                @* @Html.TextBox("year", Model.year) *@
                @Html.TextBox("year", String.Format("{0:01/01/yyyy}", Model.year), new { @class= "form-control", id = "datepicker"})
                @* <input asp-for="year" class="form-control"/> *@
                @* <input asp-for="year" type="text" class="form-control" id="datepicker" /> *@
                <span asp-validation-for="year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isBusy" class="control-label"></label>
                @Html.CheckBox("isBusy", Model.isBusy)
                @* <input type="checkbox" asp-for="isBusy" class="form-control" /> *@
                <span asp-validation-for="isBusy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}